<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyf.designcreate.ai.message.mapper.MessageFeedbackMapper">

    <resultMap id="BaseResultMap" type="com.wyf.designcreate.model.entity.MessageFeedback">
            <id property="id" column="id" />
            <result property="messageId" column="messageId" />
            <result property="appId" column="appId" />
            <result property="userId" column="userId" />
            <result property="vote" column="vote" />
            <result property="reason" column="reason" />
            <result property="comment" column="comment" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDeleted" column="isDeleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,messageId,appId,userId,vote,reason,
        comment,createTime,updateTime,isDeleted
    </sql>
</mapper>
