<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyf.designcreate.ai.message.mapper.MessageSummaryMapper">

    <resultMap id="BaseResultMap" type="com.wyf.designcreate.model.entity.MessageSummary">
            <id property="id" column="id" />
            <result property="appId" column="appId" />
            <result property="userId" column="userId" />
            <result property="lastMessageId" column="lastMessageId" />
            <result property="content" column="content" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDeleted" column="isDeleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,appId,userId,lastMessageId,content,createTime,
        updateTime,isDeleted
    </sql>
</mapper>
